home-kubernetes-talos-cp01.k8s.achva.network.yaml
home-kubernetes-talos-cp02.k8s.achva.network.yaml
home-kubernetes-talos-cp03.k8s.achva.network.yaml
home-kubernetes-talos-cp04.k8s.achva.network.yaml
home-kubernetes-talos-cp05.k8s.achva.network.yaml
talosconfig
